.post {
    max-width: 500px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}
.post__image {
    width: 100%;
    object-fit: contain;   
    border-top: 1px solid lightgray;
    border-bottom-right-radius: 1px solid lightgray;    
}
.post__text {
    font-weight: normal;
    padding: 10px 20px;
}
.post__header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.post__avatar {
    margin-right: 10px;
}

/* Coment area to be edited */
.post__commentBox {
    display: flex;
    flex-direction: row;
    margin-top: 10px; 
    margin-bottom: 20px;
}
.post__input {
    flex: 1;
    border: none;
    padding: 10px;
    width: 300px;
    /* border-top: 1px solid lightgray;  */
    /* width: 100%; */
}

@media (max-width: 3755px) {
    .post__input {
        width: 200;
    }
} 
@media (max-width: 768px) {
    .post__input {
        width: 300px;
    }
} 
@media (max-width: 320px) {
    .post__input {
        width: 200px;
    }
} 
.post__button {
    flex: 0;
    border: none;
    color: #6082a3;
    background-color: transparent;
    right: 0;
    /* border-top: 1px solid lightgray; */
}

/* Comment area to be edited */

.post__comments {
    padding: 20px;
}